fastapi
uvicorn[standard]
pydantic
httpx
requests
pymilvus
ollama

# chunking/docling
python-multipart
python-dotenv
pillow
docling
docling-core
tiktoken
langchain
langchain-community
langchain-experimental

# rerank
FlagEmbedding

# prompt
pyyaml

# docling
docling-ocr-onnxtr

# Installation de onnxtr (le moteur OCR)
onnxtr

# Installation de ultralytics (pour YOLO)
ultralytics


# Installation du moteur d'exécution ONNX (CPU ou GPU)
onnxruntime  # ou onnxruntime-gpu si tu as une carte NVIDIA

# langchain
langchain-ollama
langchain
langchain-core

# huggingface
sentence-transformers
torch
